/*ProximaLight*/
@font-face {
    font-family: 'ProximaLight';
    src: url('../fonts/proxima/ProximaNova-Light.eot');
    src: url('../fonts/proxima/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima/ProximaNova-Light.woff') format('woff'),
         url('../fonts/proxima/ProximaNova-Light.ttf') format('truetype'),
         url('../fonts/proxima/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'ProximaLight';
        src: url('../fonts/proxima/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
		font-weight: normal;
    }
}

/*ProximaBold*/
@font-face {
    font-family: 'ProximaBold';
    src: url('../fonts/proxima/ProximaNova-Bold.eot');
    src: url('../fonts/proxima/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima/ProximaNova-Bold.woff') format('woff'),
         url('../fonts/proxima/ProximaNova-Bold.ttf') format('truetype'),
         url('../fonts/proxima/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'ProximaBold';
        src: url('../fonts/proxima/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
		font-weight: normal;
    }
}

/*ProximaNormal*/
@font-face {
    font-family: 'ProximaNormal';
    src: url('../fonts/proxima/ProximaNova-Regular.eot');
    src: url('../fonts/proxima/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima/ProximaNova-Regular.woff') format('woff'),
         url('../fonts/proxima/ProximaNova-Regular.ttf') format('truetype'),
         url('../fonts/proxima/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'ProximaNormal';
        src: url('../fonts/proxima/ProximaNova-Regular.svg#ProximaNova-Bold') format('svg');
        font-weight: normal;
    }
}

