
$vermelho: #be2026;
$vermelhoRGB: rgba(190, 32, 38, 0.6);  	
$vermelhoTitulo: #f8a995;
$preto: #000000;
$branco: #ffffff;
$pretoRGB: rgba(0,0,0,0.6);
$texLogo: #8d8d8d;

$browser-context: 16;

@function rem($pixels, $context: $browser-context) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}

@mixin efeito-transicao(){
	transition: all 0.2s ease-in-out !important;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;  
}


#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{

	font-family: ProximaBold;
	color:$branco;
}



#sb-container{
	position:fixed;
	margin:0;
	padding:0;
	top:0;
	left:0;
	z-index:10000;
	text-align:left;
	visibility:hidden;
	display:none;
}



#sb-overlay{
	position:relative;
	height:100%;
	width:100%;
}



#sb-wrapper{
	position:absolute;
	visibility:hidden;
	width:100px;
}



#sb-wrapper-inner{
	background:$vermelho;
	padding:0;
	position:relative;
	overflow:hidden;
	height:100px;
}



#sb-body{
	position:relative;
	height:100%;
}



#sb-body-inner{
	position:absolute;
	height:100%;
	width:100%;
}



#sb-player.html{
	height:100%;
	overflow:auto;
}



#sb-body img{border:none;}



#sb-loading{position:relative;height:100%;}



#sb-loading-inner{
	font-family: ProximaLight !important;
	position:absolute;
	font-size:20px;
	line-height:50px;	
	top:50%;
	margin-top:-20px;
	width:100%;
	text-align:center;
}



#sb-loading-inner span{

	background:url(../img/lightbox/loading.svg) no-repeat;
	padding-left:34px;
	display:inline-block;

}



#sb-body,#sb-loading{
	background-color:$vermelho;
}



#sb-title,#sb-info{
	position:relative;
	margin:0;
	padding:0;
	overflow:hidden;
}



#sb-title-inner{
	height:40px;
	line-height:40px;
	padding-left:20px;
	background: $vermelho;
	display: inline-block;
}



#sb-title-inner{
	font-size:18px;
	width:100%;
	padding-right:20px;
}


#sb-info,#sb-info-inner{

	height:30px;

	line-height:30px;

}



#sb-info-inner{font-size:12px; color:#FFF; }



#sb-nav{
	float:right;
	padding:2px 0;
	width:70%;
	height:30px;
}



#sb-nav a{display:block; float:right; height:25px;width:89px;margin-left:3px; cursor:pointer;}



#sb-nav-close, #sb-nav-next, #sb-nav-previous{
	font-family: arial;
	background: $vermelho;
	border-radius: rem(0px) rem(0px) rem(16px) rem(16px);
	-moz-border-radius: rem(0px) rem(0px) rem(16px) rem(16px);
	-webkit-border-radius: rem(0px) rem(0px) rem(16px) rem(16px);
	color: $branco;
	text-decoration: none;
	text-align: center;
	@include efeito-transicao();
}

#sb-nav-close::before{
	content: "fechar";	
	text-transform: uppercase;
}

#sb-nav-next::before{
	content: "próxima";	
	text-transform: uppercase;
}

#sb-nav-previous::before{
	content: "anterior";	
	text-transform: uppercase;
}

#sb-nav-close:hover, #sb-nav-next:hover, #sb-nav-previous:hover{
	background: $preto;	
	@include efeito-transicao();
}



@media only screen and (max-width: 480px) {

#sb-nav a{
	width:50px;	
}

	#sb-nav-close::before{
	content: "×";	
	font-size: 30px;
	position: relative;
	top: -2px;		
}

#sb-nav-next::before{
	content: "›";
	font-size: 30px;
	position: relative;
	top: -5px;		
}

#sb-nav-previous::before{
	content: "‹";	
	font-size: 30px;		
	position: relative;
	top: -5px;		
}

}




#sb-nav-play{

	background-image:url(../img/lightbox/play.png);

}

#sb-nav-play:hover{

	background-image:url(../img/lightbox/play.png);

}



#sb-nav-pause{

	background-image:url(../img/lightbox/pause.png);

}

#sb-nav-pause:hover{

	background-image:url(../img/lightbox/pause.png);

}



#sb-counter{float:left;width:20%; font-family: verdana}

#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}

#sb-counter a.sb-counter-current{text-decoration:underline;}



div.sb-message{
	font-size:12px;
	padding:10px;
	text-align:center;
}



div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}










