@charset "utf-8";
/* CSS Document */

*{margin:0px; padding:0px;}





/* CONTATO
--------------------------------------------------------------------------*/

.formulario{width:600px; padding-top:15px; float:left;  }
.texto{float:left; width:200px; height:20px; padding-right:10px; padding-top:4px; text-align:right;}
.campo{ padding-bottom:5px;}


.formulario p{padding-left:210px; float:left; padding-top:5px;}
.campo1{width:226px; height:23px; padding-top:4px; padding-left:5px; font-size:11px;}
.campo2{width:111px; height:23px; padding-top:4px; padding-left:5px; font-size:11px;}
.textarea{width:226px; height:55px; font-size:11px; padding-top:4px; padding-left:5px;}
.sucesso{width:900px; height:200px; padding-left:100px; padding-top:30px;}



